body{
    background-image: url(../media/city_in_valley-wallpaper-1920x1200.jpg);
    background-repeat: repeat-y;
    height:100vh;
}
/* .container_fluid{
    height: 100%;
} */
.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    height: 150vh;
}
.overlay2, .side-b {
    background-color: rgba(0, 0, 0, 0.75);

}
.article-image{
    max-width:500px;
    height:auto;
 

}
.main-cols{
    background-color: black;
}