{% extends 'neighbourhood/base.html' %}


{% block content %}
<div class="container">
    <div class="mt-10">
        <h1 class="text-center text-success abt">What is neighborhood?</h1>
    </div>

    <p class="mt-10">Neighbourhood is a web application that allows users to be in the loop of what is going on in their
        neighbouhood.
        The user login and creates their profile which determines the kind of information they get depending their
        neighbourhood.
        However, as a user, you have the choice to switch to a new neighbourhood by following the link 'change neighbourhod' in the side navbar.</p>



</div>

{% endblock %}